html {
    font-size: 16px;
    background-image: linear-gradient(to right, pink, tan);
    color: white;
    text-align: center;
    font-family: 'Syne Mono', monospace;
    width: 100%;
}

@font-face {
    font-family: Malignant;
    src: url('./resources/Malignant-6YaGD.ttf')
}

@font-face {
    font-family: MarshallTheDead;
    src: url('./resources/MarshalTheDead-ywjxM.ttf')
}

/* header styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    width: 100%;
    margin-bottom: 5rem;
    position: fixed;
    opacity: 1.0;
    z-index: 1;
}

header h1.name {
    font-family: MarshallTheDead;
    font-size: 3.5rem;
    background: -webkit-linear-gradient(aquamarine, DarkOliveGreen);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

header h1.name:hover {
    opacity: 0.75;
}

header nav a {
    text-decoration: none;
    color: white;
}

header nav li {
    list-style: none;
    display: inline-flex;
    font-size: 1.15rem;
    padding-right: 25px;
    align-content: space-between;
}

header nav li:hover {
    opacity: 0.5;
    text-decoration: underline;
}

header nav li:active {
    color: #fcba03;
    color: darkolivegreen;
    text-decoration: none;
}

/* about me styles */

.about-me-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 8rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.about-me {
    flex-direction: row;
    width: 45%;
    text-align: left;
}

h2 {
    color: black;
    font-size: 1.75rem;
}

.self-portrait {
    width: 45%;
    height: auto;
    border-radius: 1rem;
    opacity: 0.85;
}

/*projects container*/

.projects-container {
    display: flexbox;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.projects-container h2 {
    width: 100%;
    text-align: left;
}

.projects-container ul {
    width: 100%;
    text-align: left;
}

/*skills container*/

.skills-container {
    display: flexbox;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.skills-container h2 {
    width: 100%;
    text-align: left;
}

.skills-list {
    display: flex;
    justify-content: space-around;
}

.skills-container i {
    font-size: 3rem;
}

/*contact me page*/

.contact-me-container {
    display: flexbox;
    align-items: left;
    justify-content: space-between;
    padding-top: 8rem;
    padding-bottom: 1rem;
    padding-left: 8rem;
}

.contact-me-container h2 {
    width: 100%;
    text-align: left;
}

.contact-me-container p {
    text-align: left;
}

.contact-list {
    display: flex;
}

.contact-list i {
    font-size: 1.5rem;
    padding-right: 2rem;
    padding-top: 1.5rem;
}

.contact-list i:hover {
    opacity: 0.8;
}

/* music page */

.spotify-playlist {
    padding-top: 8rem;
}

/* cat facts*/

.cat-carrier {
    display: flexbox;
    align-items: left;
    justify-content: space-between;
    padding-top: 12rem;
    padding-bottom: 6rem;
}

.cat-carrier button {
    border-radius: 1rem;
    font-size: 2rem;
    font-family: 'Syne Mono';
    background-color: aquamarine;
    color: darkolivegreen;
    border-width: 0px;
}

.cat-carrier button:hover{
    opacity: 0.75;
}

.cat-carrier button:active {
    color: grey;
    opacity: 0.50;
}